.Header {
  text-align: center;
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: orange;
}

.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navigation List CSS */
.Header ul {
    lsit-style: none;
    margin: 0;
    padding: 0;
}

.Header li {
    display: inline-block;
}

.Header a {
    text-decoration: none;
    padding: .2em 1em;
    color: orange;
    font-weight: bold;

}

.Header a:hover {
    color: #fff;
}
